<div class="notable-content">
		<div class="notable-inner" style="overflow: hidden; width: auto;">
      {{#if isFormOnTop}}
        {{notable-form newNote=newNote
						isUsingNotifications=isUsingNotifications
						users=users
						posterFullName=posterFullName
					 createNote=this.attrs.createNote}}
      {{/if}}
      {{#each notes as |note index|}}
        {{notable-item 
					allowDelete=allowDelete
					deleteNote=this.attrs.deleteNote
					isUsingOppositeLayout=isUsingOpposingLayout
					note=note index=index}}
      {{/each}}
      {{#if isFormOnBottom}}
        {{notable-form newNote=newNote
					autoFocus=autoFocus
						isUsingNotifications=isUsingNotifications
						users=users
					posterFullName=posterFullName
					createNote=this.attrs.createNote}}
      {{/if}}
		</div>
</div>
