<h2 id="title">Welcome to Ember</h2>

{{notable-list
	isUsingNotifications=true
		users=users
    posterFullName="Vic Amuso"
   createNote=(action "createNote") newNote=newNote notes=notes autoFocus=true}}




{{notable-list
    posterFullName="Vic Amuso"
   createNote=(action "createNote") newNote=newNote notes=notes autoFocus=true}}
